[Unit]
Description = GyroidOS CML Socket

[Socket]
FileDescriptorName=cml-control
Accept=no
SocketGroup=cml-control
ListenStream=/run/socket/cml-control
