[Unit]
Description = GyroidOS CML Daemon
Requires=cml-scd.socket 
Requires=cmld.socket
After=cml-scd.socket 
After=cmld.socket

[Service]
Environment="SCD_CONTROL=/run/socket/cml-scd_control"
Type=exec
ExecStart={{PREFIX}}/sbin/cmld
